.header {
  height: 10%;
  background-color: #5f5b8f;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .nameOfFr {
    font-size: 18px;
    text-align: center;
  }
  .call-icon {
    font-size: 35px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    > * {
      padding: 9px;
    }
  }
  .backk {
    cursor: pointer;
    opacity: 0;
    display: none;
  }
}
@media only screen and (max-width: 1000px) {
  .header {
    .backk {
      display: inline-block;
    }
  }
}
